<%= simple_form_for(@article, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="form-inputs">
          <%= f.input :title, label: false, placeholder: 'Title' %>
          <%= f.input :content, as: :text, input_html: {class: "vresize"}, label: false, placeholder: 'Content' %>
          <div class="row">
            <div class="col-md-4">
              <%= f.file_field :image, class: "btn btn-primary position_file_fiel" %>
            </div>
            <div class="col-md-4">
              <%= image_tag @article.image.url(:medium) %>
            </div>
          </div>
          <div class="row color_white">
            <div class="col-md-4">
              <%= f.input :tag_list, hint: t('separate_each_tag_with_a_comma') %>
            </div>
            <div class="col-md-4">
              <%= f.input :published, label: false, input_html: {class: 'switch', 'data-on-text': 'publier', 'data-off-text': 'brouillon'} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $("#article_published").bootstrapSwitch();
});
</script>