<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if user_signed_in? && current_user.role == "admin" %>
      <h1 class="text-center">Mes articles</h1>
    <% else %>
      <h1 class="text-center">liste d'articles</h1>
    <% end %>
  </div>
</div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <p><%= t('tags') %>:
          <%= link_to t('all'), root_path %>
          <% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </p>
      </div>
    </div>
</div>
<% if user_signed_in? && current_user.role == 'admin' %>
  <div class="row">
    <div class="col-md-1">
      <%= link_to url_for(action: :new) do %>
        <span class="btn btn-sm btn-default glyphicon glyphicon-plus"></span>
      <% end %>
    </div>
    <div class="col-md-10">
      <table border class="table table-striped table-condensed table-dictionnary">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Publié</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.title, edit_article_path(article)%></td>
            <td><%= article.published%></td>
            <td><%= link_to edit_article_path(article) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-1">
      <%= link_to url_for(action: :new) do %>
        <span class="btn btn-sm btn-default glyphicon glyphicon-plus"></span>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <% @articles.each do |article| %>
      <% if article.published %>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center"><%= article.title %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= image_tag article.image.url(:medium), class: "some class here" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><%= truncate(article.content, length: 100) %><%= link_to 'More', article %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>