<div class="row">
  <div class="col-md-3 col-md-offset-5">
    <h1 class="text-center"><%= @article.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-5">
    <%= image_tag @article.image.url(:medium) %>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <p class="text-center"><%= @article.content %></p>
  </div>
</div>


<h3 class="comments_title">
  <%= @article.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @article.comments %>
</div>
<% if user_signed_in? && current_user.role != 'admin'%>
  <%= simple_form_for [@article, Comment.new]  do |f| %>
    <div class="field">
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p>Connecter vous laissez un commentaire.</p>
<% end %>






<% if user_signed_in? && current_user.role == "admin" %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
