<div class="row">
  <div class="col-md-6">
    <h1 class="text-center color_white"><%= @article.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @article.image.url(:medium) %>
  </div>
  <div class="col-md-3">
    <p class="color_white"><%= @article.content %></p>
  </div>
</div>
<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="color_white">
        <%= link_to like_article_path(@article), method: :put, class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
        <% end %>
        <%= @article.get_upvotes.size %>
        <%= link_to dislike_article_path(@article), method: :put, class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-thumbs-down "></span>
        <% end %>
        <%= @article.get_downvotes.size %>
      </p>
    </div>
  </div>
<% end %>
<div class=" row text-center">
  <div class="col-md-12">
    <h2 class="comments_title well"><%= @article.comments.count %> Commentaires</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="comments">
      <%= render :partial => @article.comments %>
    </div>
  </div>
</div>
<% if user_signed_in? && current_user.role != 'admin'%>
  <%= simple_form_for [@article, Comment.new]  do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_area :content, class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <%= f.submit "Add Comment", class: "btn btn-primary" %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', articles_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-4">
      <p class="color_white">Connectez vous pour laisser un commentaire.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
       <%= link_to 'Back', articles_path, class: "btn btn-primary" %>
       <% if user_signed_in? && current_user.role == "admin" %>
          <%= link_to 'Edit', edit_article_path(@article) %> |
        <% end %>
    </div>
  </div>
<% end %>