<!DOCTYPE html>
<html>
<head>
  <title>SimplonBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Simplon Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
          </button>
          <div class="collapse" id="exCollapsingNavbar">
            <div class="bg-inverse p-a-1">
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <% if current_user.role == "admin" %>
                        <li><%= link_to 'Account', edit_user_registration_path %></li>
                        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                      <% else %>
                        <li><%= link_to 'Account', edit_user_registration_path %></li>
                        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to 'Sign up', new_user_registration_path %></li>
                  <li><%= link_to 'Sign in', new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if current_user.role == "admin" %>
                    <li><%= link_to 'Account', edit_user_registration_path %></li>
                    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                  <% else %>
                    <li><%= link_to 'Account', edit_user_registration_path %></li>
                    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <p class="notice color_white"><%= notice %></p>
    <p class="alert color_white"><%= alert %></p>
<%= yield %>
  </div>
  <br>
</body>
</html>